<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.vzhuan"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14"/>
    <application
            android:label="@string/app_name"
            android:icon="@drawable/logo"
            android:name=".MainApplication">
        <activity
                android:name="SplashActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!--
        KakaoTalk , 分享应用的时候，可以设置打开应用的参数 excuteUrl, 用户点击分享的内容时，就会打开相应的应用，
                                            如果应用不存在，可以设置 installURL参数, 打开下载应用的相关网址  (executeUrl)
                                            设置后intent-filter 后，分享时，需要设置参数 setExecuteUrl("kakaoTalkTest://starActivity");
      -->
            <intent-filter>
                <data
                        android:scheme="vzhuan"
                        android:host="starActivity"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".GuideActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
                android:name=".RegisterActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
                android:name=".RerferrerInfoActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
                android:name="cn.sharesdk.framework.ShareSDKUIShell"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:windowSoftInputMode="stateHidden|adjustResize">
            <!--
                AuthorizeAdapter表示一个继承自cn.sharesdk.framework.authorize.AuthorizeAdapter
                的类，这个类可以监听到页面的生命周期，也可以获取授权页面的各种UI控件。
                开发者可以通过继承AuthorizeAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            -->
            <meta-data
                    android:name="AuthorizeAdapter"
                    android:value="cn.sharesdk.demo.MyAdapter"/>

            <!--
                QZoneWebShareAdapter表示一个继承自cn.sharesdk.tencent.qzone.QZoneWebShareAdapter
                的类，这个类可以监听到页面的生命周期，也可以获QQ空间网页分享权页面的各种UI控件。
                开发者可以通过继承QZoneWebShareAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            -->
            <meta-data
                    android:name="QZoneWebShareAdapter"
                    android:value="cn.sharesdk.demo.MyQZoneWebShareAdapter"/>
            <!--
                Dropbox的SSO功能需要在此处添加一个对ACTION_VIEW事件的过滤器，其中的scheme是
                “db-”前缀再开发者应用的加上appKey。如果此过滤器不设置，则不能完成SSO功能授权
            -->
            <intent-filter>
                <data android:scheme="db-7janx53ilz11gbs"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!--
                如果集成QQ分享，或者使用QQ客户端来进行QQ空间的分享，须要在此处添加一个对ACTION_VIEW
                事件的过滤器，其中的scheme是“tencent”前缀再开发者应用的加上appId。如果此过滤器不设置，
                则分享结束以后不能得到正确的回调
            -->
            <intent-filter>
                <data android:scheme="tencent100371282"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>

        </activity>
        <!-- 微信分享回调 -->
        <activity
                android:name="cn.sharesdk.demo.wxapi.WXEntryActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:exported="true"/>
        <!-- 易信分享回调 -->
        <activity
                android:name="cn.sharesdk.demo.yxapi.YXEntryActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:excludeFromRecents="true"
                android:exported="true"
                android:launchMode="singleTop"/>
        <!--jpush-->
        <!-- Required SDK核心功能-->
        <activity
                android:name="cn.jpush.android.ui.PushActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.vzhuan"/>
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
                android:name="cn.jpush.android.service.DownloadService"
                android:enabled="true"
                android:exported="false">
        </service>


        <!-- Required SDK 核心功能-->
        <service
                android:name="cn.jpush.android.service.PushService"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>

            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
                android:name="cn.jpush.android.service.PushReceiver"
                android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
                <!--Required  显示通知栏 -->
                <category android:name="com.vzhuan"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>

        </receiver>
        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
                android:name=".jpush.MyReceiver"
                android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION"/>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK"/>
                <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION"/>
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.vzhuan"/>
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver"/>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
                android:name="JPUSH_CHANNEL"
                android:value="developer-default"/>
        <meta-data
                android:name="JPUSH_APPKEY"
                android:value="8e783fed66d02ec7f360dc13"/>
        <!--  </>值来自开发者平台取得的AppKey-->
        <!-- the activity theme should be translucent and notitlebar -->
        <activity
                android:name="com.dlnetwork.DianleGoogleActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:configChanges="keyboardHidden|orientation"/>
        <service android:name="com.dlnetwork.DianleGoogleService"/>
        <activity
                android:name="com.esas.cned.Dwez"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
            </intent-filter>
        </activity>
        <receiver android:name="com.esas.cned.Gaha">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity
                android:name="com.exds.ceffcs.Zee"
                android:configChanges="keyboard|keyboardHidden|orientation"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:name="com.exds.ceffcs.Rtt">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <service android:name="com.exds.ceffcs.Kyy"/>
        <!-- 添加必须的组件 -->
        <activity
                android:name="net.dy.updt.BoBrowser"
                android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <service
                android:name="net.dy.updt.BoService"
                android:exported="true" >
        </service>
        <service
                android:name="net.dy.updt.ExpService"
                android:exported="true" >
        </service>

        <receiver android:name="com.testin.cloud.tesajlo" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <meta-data
                android:name="appId"
                android:value="760f04b16d9496fa" />
        <meta-data
                android:name="appSecret"
                android:value="81012bc40d0a99f4" />
        <meta-data
                android:name="splashAnim"
                android:value="true" />
        <meta-data
                android:name="animType"
                android:value="2" />
        <meta-data
                android:name="orientation"
                android:value="0" />
        <meta-data
                android:name="loadExitSpot"
                android:value="true" />
        <!-- beiduo -->
        <!-- 广告的展示载体  必须 -->
        <activity
                android:name="com.bb.dd.Browser"
                android:configChanges="keyboardHidden|orientation" >
        </activity>

        <!-- 广告的服务  必须 -->
        <service
                android:name="com.bb.dd.BDService" >
        </service>
        <!-- 大头鸟 -->
        <service android:name ="com.datouniao.AdPublisher.service.AdsService"
                 android:exported="false">
        </service>

        <receiver
                android:name="com.datouniao.AdPublisher.service.AppReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="com.datouniao.AdPublisher.service.check"/>
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <activity android:name="com.datouniao.AdPublisher.AdsOffersWebView" android:configChanges="keyboardHidden|orientation" />
        <!-- 米积分 -->
        <!-- 正常模式配置墙 -->
        <activity
                android:name="com.miji.MJCOffersWebView"
                android:configChanges="keyboardHidden|orientation" />
        <!-- 正常模式配置广播 -->
        <receiver
                android:name="com.miji.receiver.AppStatusReceiver"
                android:enabled="true"
                android:exported="false" >
            <intent-filter android:priority="0x7fffffff" >
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- 赢告无线 -->
        <!-- 配置积分墙显示页面 -->
        <activity
                android:name="com.winad.android.offers.OffersActivity"
                android:configChanges="keyboardHidden|orientation|navigation" />
    </application>

    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!---->
    <permission
            android:name="com.vzhuan.permission.JPUSH_MESSAGE"
            android:protectionLevel="signature"/>
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.vzhuan.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>

    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:resizeable="true"
            android:smallScreens="true"/>
</manifest>
